@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: url(image/weather.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
.background{
    border: 1px solid #fff;
    background-color: #6e50785d;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    margin-top: 50px;
    padding: 50px;
}

h1{
    color: #f3e9e9;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgba(138, 99, 131, 1);
    text-align: center;
    font-size: 4rem;
 
}
.form{
    display: flex;
    justify-content: center;
}
.form input{
  
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: 5px 5px 10px rgb(187, 139, 179);
    
      
}
.InputText{
width: 500px;
padding: 10px;
margin-top: 20px;
outline: none;
color: rgb(54, 52, 52);

}
.InputText::placeholder{
    color: rgb(54, 52, 52);
}

.btnDiv{
    display: flex;
    justify-content: center;
    margin: 40px;

}
.btn{
    width: 100px;
    font-size: 1.5rem;
    border-radius:  10px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    box-shadow: 5px 5px 10px rgb(187, 139, 179);
    
}
.btnDiv .btn i{
    color: #fff;
}
.btn:hover{
    transform: scale(1.1);
    transition: 0.4s;
    background-color: #6d4e6f;
}
.info{
    text-align: center;
    color: #f3e9e9;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}
.info p{
    margin-top: 20px;
}

#temperature{
    font-size: 4rem;
}
#feltair{
    font-size: 1.5rem;
    margin-top: 20px;
}
.weather-info{
    display: flex;
    justify-content: center;
    gap: 70px;
}
@media (max-width: 940px){
    .background{
        border-radius: 0;
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }
    #temperature{
        font-size: 3rem;
    }
    h1{
        font-size: 3rem;
        padding-top: 50px;
    }
    
}